#overlay{
    width: 100%;
    height: 99%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0.85;
    display: none;

    color: whitesmoke;
    font-size: xx-large;
    font-weight: bold;
}

#register-form button{
    background-image: linear-gradient(to bottom right, orange, #fc581d);
    font-size: xx-large;
    font-style: italic;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}
#register-form button:hover{
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
    box-shadow: inset black 20px;
    /* font-weight: bold;
    border-width: 3px; */
}
#register-form h1{
    margin-top: 85px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}

#register-form input{
    font-style: italic;
    font-weight: bold;
    color: gray;
    font-size: xx-large;
}
#register-form input::selection, #register-form input:focus{
    color: #fc581d;
}
#register-form *{
    display: block;
    border: 1px solid lightskyblue;
    border-radius: 3px;
    margin: 20px auto;
}
/* #register-form p{
    width: fit-content;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    cursor: pointer;
    border: none;
    border-top: 2px solid white;
} */
#register-form{
    display: none;
    background-color: black;
    opacity: 0.9;
    border: 1px solid lightskyblue;
    border-bottom: 3px solid lightskyblue;
}
#close-hint-text{
    position: absolute;
    top: 70%;
    left: 45%;
    right: 50%;
    color: lightgrey;
    font-weight: bold;
}