body{
    background-color: #f4fdff;
}

main{
    /* min-height: 80vh; */
    margin: 0.5%;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, lightskyblue, rgb(225, 255, 225));
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgb(231, 231, 231);
}

#trainings-list{
    width: 100vh;
    max-width: 100%;
    margin: auto;
    border-left: 3px ridge whitesmoke;
    border-right: 3px ridge whitesmoke;
    border-radius: 3px;
}

.training-card{
    /* min-height: 100px; */
    height: fit-content;
    width: 48vh;
    max-width: 90%;
    margin: 10px auto;
    background-image: linear-gradient(to top left, #fd885d, lightblue);
    border-radius: 5px;
    border: 2px solid whitesmoke;
}
.training-card:hover{
    box-shadow: 10px 10px 10px rgb(0, 0, 63);
    background-image: linear-gradient(to top left, #fd885d, rgb(77, 77, 255));
    transition: all .3s ease-in-out;
}
.training-card div:hover{
    color: #fc581d;
}

.card-content-wrapper{
    margin: 10px;
    background-color: whitesmoke;
    height: fit-content;
}

.card-top{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: no-wrap; */
}

.card-top-left{
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-style: italic;
}

.card-top-right{
    font-size: x-large;
    color: gray;
    margin-right: 5px;
}

.card-middle{
    margin: 10px auto;
    width: 94%;
    border-radius: 3px;
}
.card-middle, .card-middle img{
    height: 346px;

}

.card-middle img{
    /* max-height: 40%; */
    border-radius: 20px;
    width: 99%;
    margin: auto;
}

.card-long-description, .card-short-description{
    border: 1px solid lightblue;
    border-radius: 3px;
    width: 94%;
    height: fit-content;
    margin: 10px auto;
    color: gray;
    font-size: x-large;
}

.card-bottom{
    border: 1px solid lightblue;
    width: 99%;
    height: fit-content;
}

.card-bottom-left, .card-bottom-right{
    display: block;
    width: 94%;
    color: gray;
    font-size: xx-large;
    font-weight: bold;
    margin: auto 5px;
    text-align: start;
}
.card-bottom-left{
    color: #fc581d;
}
.card-bottom-right{
    text-align: end;
    font-style: italic;
}

#see-more-link{
    width: fit-content;
    text-decoration: none;
    font-weight: bold;
    color: gray;
    font-size: x-large;
}
#see-more-link:hover{
    text-decoration: underline;
    color: black;
    transition: all .3s ease-in-out;
}

img{
    border: 1px solid lightblue;
    margin: auto;
}

#star-rating{
    width: 40px;
    border-radius: 50%;
    border: none;
    margin-top: 3px;
}

#footer{
    margin: 0.5%;
    background-color: lightblue;
    border: 3px solid rgb(231, 231, 231);
}

#scroller{
    margin: 10px;
    background-color: darkblue;
    color: white;
    font-size: x-large;
    cursor: pointer;
}
#scroller:hover{
    border: 3px solid white;
}