body{
    /* background-color: whitesmoke */
    /* background-color: lightgrey; */
    background-color: #f4fdff;
}

main{
    /* min-height: 80vh;
    height: 80vh; */
    margin: 0.5%;
    border: 5px solid azure;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, lightskyblue, rgb(225, 255, 225));
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgb(231, 231, 231);
}

.user-card{
    /* min-height: 100px; */
    height: fit-content;
    width: 48vh;
    margin: 10px auto;
    /* margin: 10px 10px; */
    background-image: linear-gradient(to top left, #fd885d, lightblue);
    border-radius: 5px;
    border: 2px solid whitesmoke;
}
.user-card:hover{
    box-shadow: 10px 10px 10px rgb(0, 0, 63);
    background-image: linear-gradient(to top left, #fd885d, darkblue);
    transition: all .3s ease-in-out;
}

.card-content-wrapper{
    margin: 10px;
    background-color: whitesmoke;
    height: fit-content;
}

.card-top{
    width: 100%;
    /* height: fit-content; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: no-wrap; */
}

.card-top-left{
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-style: italic;
}

.card-top-right{
    font-weight: bold;
    font-size: large;
    color: gray;
}

.card-middle{
    margin: 10px auto;
    width: 76%;
    border-radius: 3px;
}
.card-middle, .card-middle img{
    height: 346px;
    /* margin-left: 12%;
    margin-right: 12%; */
}

.card-middle img{
    /* max-height: 40%; */
    border-radius: 20px;
    width: 90%;
    margin: auto;
}

.card-bottom{
    border: 1px solid lightblue;
    width: 99%;
    height: fit-content;
    /* height: fit-content; */
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: no-wrap; */
}

.card-bottom-left, .card-bottom-right{
    /* width: 49%; */
    color: gray;
    font-size: x-large;
    font-weight: bold;
    margin: auto;
    font-style: italic;
    margin-bottom: 8px;
}

#see-more-link{
    width: fit-content;
    text-decoration: none;
    font-weight: bold;
    color: gray;
    font-size: x-large;
}
#see-more-link:hover{
    text-decoration: underline;
    color: black;
    transition: all .3s ease-in-out;
}

img{
    /* border: 1px solid lightblue; */
    margin: 10px;
    border-radius: 50%;
}

.card-top-ban, .ban-img, .card-top-edit, .edit-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1px;
}
.ban-img:hover, .edit-img:hover{
    border: 1px solid red;
    cursor: pointer;
}

#submit-edit{
    background-color: darkblue;
    color: whitesmoke;
    font-size: x-large;
    cursor: pointer;
    margin: 10px 30px;
}
#submit-edit:hover{
    box-shadow: 0 5px 5px black;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

#footer{
    margin: 0.5%;
    background-color: lightblue;
    border: 3px solid rgb(231, 231, 231);
}

#scroller{
    margin: 10px;
    background-color: darkblue;
    color: white;
    font-size: x-large;
    cursor: pointer;
}
#scroller:hover{
    border: 3px solid white;
}


@media screen and (max-width:600px) {
    .user-card{
        width: 92%;
    }
    .card-middle, .card-middle img{
        height: 200px;
    }
}

@media screen and (max-width:946px) {
    .user-card{
        width: 68%;
    }
}